<form class="form"
      tuiCardLarge
      tuiForm="m"
      [formGroup]="form"
      (ngSubmit)="submit()"
      [style.max-width.rem]="32"
      tuiAppearance="floating"
>
  <header tuiHeader class="form__header">
    <h1 tuiTitle>Auth</h1>
  </header>
  <div class="form__fields">
    <tui-textfield tuiTextfieldSize="m">
      <label tuiLabel>Username</label>
      <input tuiTextfield type="text" formControlName="username"/>
    </tui-textfield>
    <tui-textfield tuiTextfieldSize="m">
      <label tuiLabel>Password</label>
      <input tuiTextfield type="password" formControlName="password"/>
    </tui-textfield>
  </div>
  <span tuiSubtitle="h6">Don't have an account yet?
      <a tuiLink routerLink="../sign-up">Sign up</a>
    </span>
  <button tuiButton
          type="submit"
          [disabled]="form.invalid || loader.loadingState"
          [loading]="loader.loadingState"
          size="m"
  >Sign In
  </button>
  <tui-error [error]="computedError"/>
</form>
