<div class="projects">
  <div class="projects__header">
    <h1 tuiTitle="m">Projects</h1>
    <button appearance="primary"
            (click)="updateProjects()"
            size="m"
            tuiIconButton
            iconStart="refresh-ccw"
    >
    </button>
  </div>

  <ng-container *tuiLet="projects$ | async as projects">

    @if (loading$ | async; as isLoading) {
      <tui-loader [showLoader]="isLoading" size="xl"></tui-loader>
    } @else {
      <div class="projects__content">
        @for (project of projects; track project) {
          <div tuiCardMedium tuiAppearance="neutral">
            <button tuiButton
                    appearance="flat"
                    (click)="navigateToProject(project)"
            >
              {{ project.name }}

              <tui-badge>{{ project.count | reduceCount }}</tui-badge>

            </button>
          </div>
        }
      </div>
    }

    @if (!loader.loadingState) {
      <div>Total projects: <b>{{ projects?.length }}</b></div>
    }
  </ng-container>

</div>
