@use "../../../../../styles/mixins" as *;

.header {
  @include section-offset();

  &__title {
    display: flex;
    gap: 0.55rem;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
}
